# # -----------------------------
# # Python
# # -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# # -----------------------------
# # Virtual Environment
# # -----------------------------
.venv/
venv/
env/

# # -----------------------------
# # Dataset / Large Files
# # -----------------------------
data/
datasets/

# # -----------------------------
# # Training Outputs / Artifacts
# # -----------------------------
results/
runs/
outputs/

# # -----------------------------
# # Logs
# # -----------------------------
*.log

# # -----------------------------
# # OS / Editor
# # -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# # -----------------------------
# # Jupyter
# # -----------------------------
.ipynb_checkpoints/

# # -----------------------------
# # Ultralytics / YOLO Cache
# # -----------------------------
.cache/
.cache/ultralytics/
